// Requirements
// ============
@import "compass/reset";
@import "susyone";


$total-columns: 24;
$column-width: 12em;
$gutter-width: 3em;
$grid-padding: 0.5em;
$breakpoint1: 1600px;
$breakpoint2: 1025px;
$breakpoint3: 772px;
$breakpoint4: 577px;
$breakpoint5: 428px;

#bazinga { @include container;max-width:1950px}
//#bazinga {width:100%; max-width:1700px};


#bazinga > div {
	@include span-columns(2,24);
	@include nth-omega(12n);
	&:nth-child(12n+1) {clear:both;}
	&:nth-child(8n+1) {clear:none;}
	&:nth-child(6n+1) {clear:none;}
}


@media screen and (max-width:$breakpoint1) {
	#bazinga > div {
		@include span-columns(3,24);
		@include remove-nth-omega(12n);
		@include nth-omega(8n);	
		&:nth-child(12n+1) {clear:none;}
		&:nth-child(8n+1) {clear:both;}
		&:nth-child(6n+1) {clear:none;}
	}

}

@media screen and (max-width:$breakpoint2)  {
	#bazinga > div {
		@include span-columns(4,24);
		@include remove-nth-omega(12n);
		@include remove-nth-omega(8n);	
		@include nth-omega(6n);	
		&:nth-child(12n+1) {clear:none;}
		&:nth-child(8n+1) {clear:none;}
		&:nth-child(6n+1) {clear:both;}
	}
}
@media screen and (max-width:$breakpoint3)  {
	#bazinga > div {
		@include span-columns(6,24);
		@include remove-nth-omega(12n);
		@include remove-nth-omega(8n);	
		@include remove-nth-omega(6n);
		@include nth-omega(4n);	
		&:nth-child(12n+1) {clear:none;}
		&:nth-child(8n+1) {clear:none;}
		&:nth-child(6n+1) {clear:none;}
		&:nth-child(4n+1) {clear:both;}
	}
}
@media screen and (max-width:$breakpoint4)  {
	#bazinga > div {
		@include span-columns(8,24);
		@include remove-nth-omega(12n);
		@include remove-nth-omega(8n);	
		@include remove-nth-omega(6n);
		@include remove-nth-omega(4n);	
		@include nth-omega(3n);	
		&:nth-child(12n+1) {clear:none;}
		&:nth-child(8n+1) {clear:none;}
		&:nth-child(6n+1) {clear:none;}
		&:nth-child(4n+1) {clear:none;}
		&:nth-child(3n+1) {clear:both;}
	}
}
@media screen and (max-width:$breakpoint5)  {
	#bazinga > div {
		@include span-columns(12,24);
		@include remove-nth-omega(12n);
		@include remove-nth-omega(8n);	
		@include remove-nth-omega(6n);
		@include remove-nth-omega(4n);	
		@include remove-nth-omega(3n);	
		@include nth-omega(2n);	
		&:nth-child(12n+1) {clear:none;}
		&:nth-child(8n+1) {clear:none;}
		&:nth-child(6n+1) {clear:none;}
		&:nth-child(4n+1) {clear:none;}
		&:nth-child(3n+1) {clear:none;}
		&:nth-child(2n+1) {clear:both;}
	}
}




